* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.grid {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "stats content shop";
}

.stats {
    grid-area: "stats";
}

.content {
    grid-area: "content";
}

.shop {
    grid-area: "shop";
}

img {
    image-rendering: pixelated;
}

.meatball-count {
    position: relative;

    margin-top: 15px;
    width: calc(100%-40px);
    background-color: blanchedalmond;
    border-radius: 30px;
    height: 75px;
    border: 5px solid burlywood;
    padding: 0px 10px;

    color: saddlebrown;
    font-size: 3em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:  bold;
}

.meatball-count p {
    height: 65px;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;

    position: absolute;
    display: grid;
    place-items: center;
}

.click-button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100svw;
    height: 100svh;
    display: grid;
    place-items: center;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    cursor: pointer;
}

.click-button img {
    animation: floatRotate 3.2s ease-in-out infinite, floatTranslate 3.8s ease-in-out infinite;
    transition: scale 0.05s ease-in-out;
}

.click-button:active img {
    scale: 1.05;
}

.clicked {
    scale: 1.05;
}

.fork {
    z-index: -10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100svw;
    height: 100svh;
    display: grid;
    place-items: center;
}

.fork img {
    animation: orbit 8s linear infinite, forkJab 1s linear infinite;
}

@keyframes floatRotate {
    0%,100% {
        rotate: 3deg;
    }
    50% {
        rotate: -3deg;
    }
}

@keyframes floatTranslate {
    0%,100% {
        translate: 0px 5px;
    }
    50% {
        translate: 0px -5px;
    }
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes forkJab {
    0%, 70%, 100% {
        transform-origin: -160px;
        translate: 200px 0px;
    }

    85% {
        transform-origin: -140px;
        translate: 180px 0px;
    }

}